*
{
    margin: 0;
}

.title h1
{
    color: white;
    text-align: center;
    mix-blend-mode: difference;
}

.title
{
    background-image: url(../static/img/sea.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title .gradient
{
    position:relative;
    width: 100%;
    height: 100%;

    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,212,255,1) 100%);
}

.navMenu
{
    background-color: black;
}

.container
{
    max-width: 80%;
    margin: 0 auto;
}

.navMenu
{
    list-style: none;
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu li 
{
    display: inline-block;
    padding-right: 10px;
    color: white;
}

.navMenu a
{
    color: white;
    text-decoration: none;
}

.navMenu li:last-child
{
    padding: 0;
}

.flex
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex .column
{
    flex-basis: 32%;
}

.Contenuto h2
{
    color: green;
    padding-bottom: 10px;
}

.row:nth-child(3)
{
    padding-top: 20px;
}

.Contenuto p
{
    text-align: justify;
}

.Contenuto h2
{
    text-align: center;
}


@media screen and (min-width: 992px) {
    .title h1
    {
        color: white;
        text-align: center;
        mix-blend-mode: normal;
    }

    .title
    {
        background-image: none;
        background-color: green;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navMenu
    {
        background-color: black;
    }

    .container
    {
        max-width: 1200px;
        margin: 0 auto;
    }

    .navMenu
    {
        list-style: none;
        padding: 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .navMenu li 
    {
        display: inline-block;
        padding-right: 10px;
        color: white;
    }

    .navMenu a
    {
        color: white;
        text-decoration: none;
    }

    .navMenu li:last-child
    {
        padding: 0;
    }

    .flex
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .flex .column
    {
        flex-basis: 32%;
    }

    .Contenuto h2
    {
        color: green;
        padding-bottom: 10px;
    }

    .row:nth-child(3)
    {
        padding-top: 20px;
    }

    .Contenuto p
    {
        text-align: justify;
    }

    .Contenuto h2
    {
        text-align: center;
    }
}

