html,
body {
    background-image: url('http://gabri3445.ddns.net/tpsit/sin-cos/static/img/bruh.gif');
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}